<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703103967599-hd7e5jfhffu0cjt71egc0lefncr142mm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703103967599-hd7e5jfhffu0cjt71egc0lefncr142mm</string>
	<key>API_KEY</key>
	<string>AIzaSyCOdXNGFLle9x9qDQ_hsB_LV1c3waRjog4</string>
	<key>GCM_SENDER_ID</key>
	<string>703103967599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leomangold.GroceriesApp</string>
	<key>PROJECT_ID</key>
	<string>groceries-4045c</string>
	<key>STORAGE_BUCKET</key>
	<string>groceries-4045c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703103967599:ios:5cc16572cb1c73a86b489a</string>
	<key>DATABASE_URL</key>
	<string>https://groceries-4045c.firebaseio.com</string>
</dict>
</plist>